<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Tty</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Font</string>
			<key>Key</key>
			<string>crtFont</string>
			<key>DefaultValue</key>
			<string>Glass_TTY_VT220</string>
			<key>Titles</key>
			<array>
				<string>Glass TTY VT220</string>
				<string>DEC Terminal Modern</string>
			</array>
			<key>Values</key>
			<array>
				<string>Glass_TTY_VT220</string>
				<string>DEC Terminal Modern</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Font color</string>
			<key>Key</key>
			<string>crtColor</string>
			<key>DefaultValue</key>
			<string>Green</string>
			<key>Titles</key>
			<array>
				<string>Green</string>
				<string>Amber</string>
			</array>
			<key>Values</key>
			<array>
				<string>Green</string>
				<string>Amber</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
